
/* NavBar styling */
.navbar{
    display: block;
    text-align: center;
}
.navbar p{
    font-weight: bold;
    font-size: 40px;
};


/* forcast section */
#curforcast{
    display: block;
    width: auto;
}

/* recent search history style */
#recent{ 
    list-style-type: none;   
}


/* cards style */
.card{
    margin: 5px;
    background-color: rgb(155, 241, 241);
}


/* list item styles */
li{
    font-weight: bold;
}


