
/* NavBar styling */
.navbar{
    display: block;
    text-align: center;
}
.navbar p{
    font-weight: bold;
    font-size: 40px;
};


/* forcast section */
#curforcast{
    display: block;
    width: auto;
}


#forcast{
    
}
.card{
    margin: 5px;
}


